body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.all {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    flex: 1;
    background-color: #ffffff;
    margin: 0px;
}
.header-nav {
    display: flex;
    justify-content: right;
}
.header-navdiv {
    padding: 0px 16px;
}



.header-bottun {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
.header-bottun:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}
.btn-edge {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    font-size: 19px;
    height: 40px;
    line-height: 40px!;
    background: #51587b;
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition: .4s;
}
  
.btn-edge:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 21px white;
    border-bottom: solid 41px transparent;
    z-index: 1;
    transition: .4s;
}
  
.btn-edge:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 21px transparent;
    border-bottom: solid 41px white;
    z-index: 1;
    transition: .4s;
}
  
.btn-edge:hover:before, .btn-edge:hover:after {
    border-left-width: 25px;
}
  
.deg_btn:hover {
    background: #2c3148;
}




.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main1 {
    flex: 1;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}
.main2 {
    flex: 1;
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    margin: 0px;
}

.controllers {
    justify-content: center;
    align-items: center;
    
}
.koizumi {
    position:relative;
    height: 500px;
}
.koizumi-img {
    height: 100%;
}
.koizumi > a {
    position: absolute;
    margin: 0px;
    text-align: center;
    font-size: 13px;

    display: inline-block;
    text-decoration: none;
    background: #ccc;/*ボタン色*/
    color: #555;/*文字色*/
    border-bottom: solid 2px #444;/*影厚み色*/
    border-radius: 3px;
}
.koizumi > a:active {
    /*ボタンを押したとき*/  
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}
#koizumi-btn1 {
    width: 60%;
    height: 4%;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
}
#koizumi-btn2 {
    width: 30%;
    height: 4%;
    top: 17%;
    left: 65%;
    transform: translateX(-50%);
}
#koizumi-btn3 {
    width: 30%;
    height: 4%;
    top: 17%;
    left: 35%;
    transform: translateX(-50%);
}
#koizumi-btn4 {
    width: 60%;
    height: 4%;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
}
#koizumi-btn5 {
    width: 60%;
    height: 4%;
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
}
#koizumi-btn6 {
    width: 60%;
    height: 4%;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}
#koizumi-btn7 {
    width: 60%;
    height: 4%;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
}


.table {
    width: 450px;
    margin-left: 80px;
    background-color: #ffffff;
}
.graph {
    flex: 1;
}


.todo-main {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    margin: 0px;
}

.todo-form {
    text-align: center;
    margin-bottom: 30px;
}



table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f5f5d0;
}

td {
    background-color: #f5f5e0;
}

h1 {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}
h1:before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 50px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
}

h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}
h2:before {
    content: '';
    position: absolute;
    bottom: -8px;
    display: inline-block;
    width: 40px;
    height: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
}
