{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main1">
    <h2>Indoor Environment</h2>
</div>
<div class="main2">
    <!-- 左：表データ -->
    <div class="table">
        <table>
            <tr>
                <th>      Time       </th>
                <th> Temperature(°C) </th>
                <th>     CO2(ppm)    </th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- 右：グラフ -->
    <div class="graph">
	    <img src="{% static 'images/data.png' %}" alt="Graph" height="300px">
    </div> 
</div>

<div class="main1">
    <h2>Controller</h2>
</div>
<div class="main2 controllers">
	<div class="koizumi">
		<img src="{% static 'images/koizumi.png' %}" class="koizumi-img">
		<a href="{% url 'env_watcher:koizumi-btn1' %}" id="koizumi-btn1">順送り</a>
		<a href="{% url 'env_watcher:koizumi-btn2' %}" id="koizumi-btn2">▲</a>
		<a href="{% url 'env_watcher:koizumi-btn3' %}" id="koizumi-btn3">▼</a>
		<a href="{% url 'env_watcher:koizumi-btn4' %}" id="koizumi-btn4">30分OFF</a>
		<a href="{% url 'env_watcher:koizumi-btn5' %}" id="koizumi-btn5">60分OFF</a>
		<a href="{% url 'env_watcher:koizumi-btn6' %}" id="koizumi-btn6">タイマー解除</a>
		<a href="{% url 'env_watcher:koizumi-btn7' %}" id="koizumi-btn7">消灯</a>
		<p id="koizumi-logo"><b>KOIZUMI</b></p>
    </div>
    <div class="shirokuma">
	<img src="{% static 'images/shirokuma.png' %}" class="shirokuma-img">
    
    </div>
</div>

{% endblock %}
